<!DOCTYPE html>
<html>
<head>
  <title>dougvk's Academia.edu Twitter App</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
</head>

<%#<--- topbar navigation panel --->%>
<%= render "users/login" %>

<%#<--- body --->%>
<%= yield %>


</body>
</html>
